body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('https://wallpapercat.com/w/full/4/b/f/41636-2560x1600-desktop-hd-louis-vuitton-background-image.jpg');
} 
